TSWLatexianTemp_diss.aux
TSWLatexianTemp_diss.log
TSWLatexianTemp_diss.pdf
TSWLatexianTemp_diss.tex
TSWLatexianTemp_diss.toc
TSWLatexianTemp_000533.aux
TSWLatexianTemp_000533.bbl
TSWLatexianTemp_000533.blg
TSWLatexianTemp_000533.log
TSWLatexianTemp_000533.pdf
TSWLatexianTemp_000533.synctex
TSWLatexianTemp_000533.tex
TSWLatexianTemp_000533.toc
TSWLatexianTemp_diss.bbl
TSWLatexianTemp_diss.blg
diss.pdf
word_count.py
TSWLatexianTemp_[0-9]*.aux
TSWLatexianTemp_[0-9]*.bbl
TSWLatexianTemp_[0-9]*.blg
TSWLatexianTemp_[0-9]*.log
TSWLatexianTemp_[0-9]*.pdf
TSWLatexianTemp_[0-9]*.synctex
TSWLatexianTemp_[0-9]*.tex
TSWLatexianTemp_[0-9]*.toc
